<h1><% @band.name %></h1>

<h2>Albums</h2>

<ul>
  <% @band.albums.each do |album| %>
  <li> <%= link_to album.name, album_url(album) %> </li>
  <% end %>
</ul>

<%= link_to "New Album", new_band_album_url(@band) %>
<br>
<%= link_to "Edit Band", edit_band_url(@band) %>
<br>
<form action="<%= band_url(@band) %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input type="submit" value="Delete Band">
</form>
<br>
<%= link_to "All Bands", bands_url %>
